<nav class="navbar sticky-top">
    <div class="logo">
        <img src="https://st3.depositphotos.com/1019239/16682/v/380/depositphotos_166828412-stock-illustration-elearning-logo-ebook-e-learning.jpg" alt="E-Learning Logo">
    </div>
    <ul class="nav-links">
        <li><a routerLink="" >Home</a></li>
        <!-- <li><a routerLink="/course">Courses</a></li> -->
        <li><a routerLink="/about" >About</a></li>
        <li><a routerLink="/contact" >Contact</a></li>
        <li><a routerLink="/login" >Login</a></li>
    </ul>
</nav>
