body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
}

.nav-links a:hover {
    background-color: #444;
    border-radius: 5px;
}
