<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="logo">
      <img src="https://st3.depositphotos.com/1019239/16682/v/380/depositphotos_166828412-stock-illustration-elearning-logo-ebook-e-learning.jpg" alt="E-Learning Logo">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "  (click)="onItemClick('Java')" >
            Courses
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/gotCourse">My Batch</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        
      </ul>
    </div>
  </nav>
  

